@import '../helpers/helpers';

.aspects {
  display: flex;
  margin: 0 -14px;

  &__item {
    position: relative;
    flex-basis: 33%;
    padding: 0 14px;

    &:not(:last-child) {
      &::after {
        position: absolute;
        top: 36px;
        right: 0;
        width: 50%;
        height: 3px;
        content: '';
        background-color: #6d6d6d;
        transform: translateX(50%);

        @media (max-width: $s) {
          width: 40%;
        }
      }
    }

    &--white {
      &:not(:last-child) {
        &::after {
          background-color: #fff;
        }
      }
    }

    @media (max-width: $s) {
      flex-basis: 50%;
    }
  }

  &__item-logo {
    margin-bottom: 50px;
    text-align: center;

    svg {
      width: 76px;
      height: 76px;
      fill: #6d6d6d;
    }

    &--white {
      svg {
        fill: #fff;
      }
    }

    @media (max-width: $m) {
      margin-bottom: 26px;
    }
  }

  &__item-title {
    margin-bottom: 22px;
    font-size: 23px;
    color: #fff;
  }

  &__item-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
  }
}
