@import '../helpers/helpers';

.intro {
  height: 100vh;
  padding-top: 20px;

  &__header {
  }

  &__header-wrapper {
    margin-bottom: 35px;
  }

  &__links {
  }

  &__bg {
    height: 100%;
  }

  &__bg-logo {
    @include flex-center;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 30;
    width: 138px;
    height: 138px;
    background-color: #451a4a;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    svg {
      width: 53px;
      height: 56px;
      fill: white;
    }
  }

  &__main-photo {
    position: relative;
    height: 72%;
    transform: translateY(-13px);

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      content: '';
      background-color: #5d2762;
      opacity: 0.6;
    }
  }
}
