@import '../helpers/helpers';

.intro {
  height: 100vh;

  &__bg {
  }

  &__bg-logo {
  }

  &__header {
  }

  &__header-wrapper {
    margin-bottom: 35px;
  }

  &__links {
  }

  &__main-photo {
    display: none;
  }
}
