@import '../helpers/helpers';

.nav {
  @include flex-center;

  @media (max-width: $m) {
    position: fixed;
    right: 0;
    height: 100%;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  @media (max-width: $m) {
    & {
      @include anim;

      top: 0;
      right: 0;
      align-items: flex-start;
      width: 50%;
      height: 100%;
      background-color: #ececec;
      transform: translateX(120%);

      @media (max-width: $s) { width: 100%; }

      &__inner {
        align-items: flex-start;
        padding-top: 100px;
      }

      &.active {
        transform: translateX(0);
      }

      &__inner {
        flex-direction: column-reverse;
        // height: 100%;
      }

      &__item {
        &:not(:last-child) {
          margin-top: 30px;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  &__item {
    @include anim;

    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: #8b8b8b;

    svg {
      @include anim;

      width: 13px;
      height: 19px;
      fill: #8b8b8b;
    }

    &:hover {
      color: #58159b;

      svg {
        fill: #58159b;
      }
    }

    & + & {
      margin-left: 19px;
    }

    &:nth-child(1) {
      margin-right: 32px;

      &::after {
        @include center-abs;

        position: absolute;
        right: -16px;
        width: 1px;
        height: 25px;
        pointer-events: none;
        content: '';
        background-color: #c7c7c7;
      }
    }

    &:nth-child(2) {
      margin-left: 0;
    }
  }

  &__dropdown {
    position: relative;
  }

  &__dropdown-button {
    &:focus + .nav__dropdown-items {
      pointer-events: all;
      opacity: 1;
      transform: translateY(100%);
    }
  }

  &__dropdown-items {
    @include anim;

    position: absolute;
    bottom: -20px;
    left: -20px;
    overflow: hidden;
    pointer-events: none;
    background-color: #ececec;
    border-radius: 10px;
    box-shadow: 0 0 8px -3px #afafafa1;
    opacity: 0;
    transform: translateY(90%);
  }

  &__dropdown-item {
    @include anim;

    list-style: none;

    &:hover {
      background-color: rgb(184, 184, 184);

      .nav__dropdown-link {
        color: #58159b;

        svg {
          fill: #58159b;
        }
      }
    }
  }

  &__dropdown-link {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #707070;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      fill: #707070;
    }
  }

  &__item-text {
    margin-right: 10px;
  }

  &__dropdown-img-txt {
    font-size: 17px;
    font-weight: 700;
    transform: rotate(90deg);
  }

  &__input {
    @include anim;

    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 1px 1px #ccc;

    &::placeholder {
      font-size: 12px;
      font-weight: 700;
      color: #aeaeae;
    }
  }

  &__input-icon {
    @include center-abs;

    position: absolute;
    right: 13px;
    z-index: 590;

    svg {
      width: 23px;
      height: 23px;
      fill: #701dbb;
    }
  }
}
