@import '../helpers/helpers';

.team {
  padding-top: 80px;
  padding-bottom: 46px;
  background-color: #ebebeb;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 17px;

    span {
      flex: 1 1 auto;
      width: 220px;
      width: 100%;
      height: 2px;
      background-color: #dedede;
      box-shadow: 0 1px 0 #fff;
    }
  }

  &__title-content {
    flex: 1 0 auto;
    margin: 0 45px;
    font-size: 36px;
    font-weight: 400;
    color: #717171;
  }

  &__subtitle {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 700;
    color: #717171;
    text-align: center;
  }

  &__slider {
    display: flex;
    margin: 0 -10px;
  }

  &__slider-item {
    position: relative;
    flex: 1 1 25%;
    padding: 0 10px;
  }

  &__slider-photo {
    position: relative;
    z-index: 5;
    padding-bottom: 96%;
    margin-bottom: 24px;
    box-shadow: 0 0 5px rgba(76, 76, 76, 0.13);

    img {
      @include anim;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 5px solid #fff;
      box-shadow: 0 0 5px rgba(76, 76, 76, 0.13);
      object-fit: cover;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      content: '';
      background-color: #fff;
      transform: rotate(-3deg);
    }
  }

  &__slider-link {
    @include flex-center;
    @include anim;

    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 52px;
    height: 46px;
    background-color: #8f33c4;

    svg {
      @include anim;

      width: 26px;
      height: 18px;
      fill: #fff;
    }

    &:hover {
      background-color: #9f48d1;
    }
  }

  &__slider-content {
    font-family: 'PT Sans';
    color: #7b7b7b;
  }

  &__slider-name {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.45px;
  }

  &__slider-prof {
    font-size: 14px;
    letter-spacing: 0.35px;
  }
}
