footer.section-outer.footer
  .container.footer__wrapper
    .footer__col
      .footer__copyright &copy; 2018 UI43 - Free Templates
      .footer__social.social
        a.social__link.social__link--footer(href='#' target='_blank')
          i.fab.fa-behance-square
        a.social__link.social__link--footer(href='#' target='_blank')
          i.fas.fa-basketball-ball
        a.social__link.social__link--footer(href='#' target='_blank')
          i.fab.fa-linkedin-in
        a.social__link.social__link--footer(href='#' target='_blank')
          i.fab.fa-facebook-f
        a.social__link.social__link--footer(href='#' target='_blank')
          i.fab.fa-instagram
        a.social__link.social__link--footer(href='#' target='_blank')
          i.fab.fa-twitter
    .footer__col
      .footer__nav.nav
        a.nav__item.nav__item--footer.active(href='#work') work
        a.nav__item.nav__item--footer(href='#about') about me
        a.nav__item.nav__item--footer(href='#blog') blog
        a.nav__item.nav__item--footer(href='#contact') contact
        a.nav__item.nav__item--footer.nav__item--border.nav__item--footer-border(href='#hire') hire me
script(async src="/assets/js/all.js")
