@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@mixin font-main {
  font-family: 'Montserrat', sans-serif;
}

@mixin font-ss {
  font-family: 'Lato', sans-serif;
}

@mixin font-nav {
  font-family: 'PT Sans', sans-serif;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-abs {
  top: 50%;
  transform: translateY(-50%);
}

@mixin anim {
  transition: 0.2s;
}
